absl-py==2.2.1
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
gunicorn==23.0.0
h5py==3.13.0
itsdangerous==2.2.0
Jinja2==3.1.6
keras==3.9.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
namex==0.0.8
numpy==2.2.4
optree==0.14.1
packaging==24.2
Pygments==2.19.1
pyodbc==5.2.0
rich==14.0.0
SQLAlchemy==2.0.40
typing_extensions==4.13.0
Werkzeug==3.1.3
